@font-face {
  font-family: 'ACTlove';
  src: url('https://www.fontspace.com/actlove-font-f15065') format('woff2'), /* Modern Browsers */
       url('https://www.fontspace.com/actlove-font-f15065') format('woff'), /* Older browsers */
       url('https://www.fontspace.com/actlove-font-f15065') format('truetype'); /* Oldest browsers */
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'ACTlove', sans-serif; /* Fallback to sans-serif if ACTlove is not available */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9d5ff; /* Adjust the color as needed */
  padding: 1rem;
}

.navLinks, .cartIcon {
  display: flex;
  align-items: center;
}

/* If you need to explicitly align text or icons */
.navLink, .cartIcon a {
  color: #7e22ce;
  text-decoration: none;
  padding: 0 0.5rem;
}

.navLink:hover, .cartIcon a:hover {
  color: #6d28d9;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.25rem; /* Adjust the size as needed */
  font-weight: 600;
  color: #7e22ce; /* Adjust the color as needed */
}

/* Ensures flex items are evenly spaced */
.spacer {
  flex-grow: 1;
}
